/*import*/

body {
    background-color: #ced6f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    color: rgb(91, 91, 91);
}

.section {
    padding: 50px;
    margin: 100px;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    border-radius: 12px;
}

i {
    padding: 2px;
}

.div-por-tres1, .div-por-tres2 {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
}

.div {
    width: 300px;
    padding: 15px;

}

.p1 {
    color: rgb(16, 16, 197);
    font-weight: 700;
}


h1 {
    font-family:monospace;
    color: rgb(15, 15, 55);
}

h4 {
    color: rgb(15, 15, 55);
}